<launch>

   <arg name="reset" default="false"/>
   <!-- If not specified, we'll use a default database location -->
   <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
   <arg name="moveit_warehouse_database_path" default="$(find ipa_order_picking_arm_planning)/benchmark_config/benchmark_moveit_config" />

   <!-- Launch the warehouse with the configured database location -->
   <include file="$(find ipa_moveit_bringup)/launch/warehouse.launch">
      <arg name="moveit_warehouse_database_path" value="$(arg moveit_warehouse_database_path)" />
   </include>

   <!-- If we want to reset the database, run this node -->
   <node if="$(arg reset)" name="$(anon moveit_default_db_reset)" type="moveit_init_demo_warehouse" pkg="moveit_ros_warehouse" respawn="false" output="screen" />

</launch>